/* my variables */
:root {
  --brdr-col: #4bb2fb;
}
/* css reset */
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
}
/*
    3. Allow percentage-based heights in the application
  */
html,
body {
  height: 100%;
}
/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Barlow Semi Condensed", sans-serif;
}
/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  width: 100%;
  height: 100%;
}
/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/* main css code */
body {
  padding-top: 50px;
}
.gameStarter {
  height: 100%;
  display: grid;
  place-items: center;
  background-color: rgb(15 2 1 / 65%);
  box-shadow: 0 0 500px rgb(18 18 18 / 71%) inset;
  position: absolute;
  width: 100%;
  align-content: center;
  z-index: 50;
  top: 0;
  left: 0;
}
.gameStarter .greeting {
  font-size: 3rem;
  color: white;
  text-transform: capitalize;
}
.gameStarter button {
  background-color: red;
  color: white;
  text-transform: capitalize;
  font-size: 4rem;
  border: 0.1em solid white;
  cursor: pointer;
  padding: 0.2em 0.5em;
  border-radius: 100vw;
  width: 500px;
  display: block;
  transition: 0.5s;
  margin-top: 30px;
}
.gameStarter button:hover {
  background-color: rgba(255, 0, 0, 0.5);
}
.nameContainer {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  border: 0.1em solid var(--brdr-col);
  width: 1200px;
  font-size: 2rem;
  padding: 0.3em 0.4em;
  text-transform: capitalize;
  align-items: center;
  flex-wrap: wrap;
}
.nameContainer .tries {
  color: green;
  font-weight: bold;
}
.carteContainer {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  height: 1000px;
  gap: 30px;
  margin: 20px auto;
  perspective: 700px;
}
.carteContainer .box {
  position: relative;
  cursor: pointer;
  transition: transform 0.5s;
  transform-origin: top left;
  transform-style: preserve-3d;
  flex: 1 0 200px;
  border: 5px solid var(--brdr-col);
  max-height: 200px;
}
.carteContainer .box .face {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.carteContainer .box .back {
  padding: 10px;
  transform: rotateY(180deg);
}
.carteContainer .box .front {
  background-color: #222222b5;
  position: relative;
}
.carteContainer .box .front::before {
  content: "!";
  font-size: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 0 0 35px white;
  width: 100%;
  height: 100%;
}
.carteContainer .box.isflipped,
.carteContainer .box.ismatched {
  transform: rotateY(180deg) translateX(-100%);
}
